<mv-control-reactive [formControl]="formControl">
  <label [attr.for]="id">{{label}}</label>
  <mv-control-switch [for]="id" [value]="value"></mv-control-switch>
  <input mv-control-checkbox-input type="checkbox"
         [attr.id]="id"
         [attr.alt]="alt"
         [attr.autofocus]="autofocus"
         [attr.name]="name"
         [attr.readonly]="readonly"
         (change)="onCheckboxChange($event)"
         (blur)="onBlur($event)">
  <mv-control-status>
    <ng-content select="mv-control-true"></ng-content>
    <ng-content select="mv-control-false"></ng-content>
  </mv-control-status>
  <mv-control-message>
    <ng-content select="mv-control-errors"></ng-content>
  </mv-control-message>
</mv-control-reactive>
