<footer id="mainFooter" class="mv-grid mv-footer">
  <mv-container>
    <ng-content></ng-content>
  </mv-container>
  <!---->
  <mv-container class="mv-footer__end">
    <mv-row>
      <mv-col>
        <img class="mv-footer__logo" [src]="logo" alt="" *ngIf="logo"/>
        <ng-content select="mv-footer-about"></ng-content>
      </mv-col>
    </mv-row>
  </mv-container>
</footer>
