/**
 * Badge
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Badge
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../core/style/variables";

$mv-badge-font-size: 1rem;
$mv-badge-color: $mv-color__secondary--900;
$mv-badge-background: $mv-color__secondary;
$mv-badge-size: 1.5rem;
$mv-badge-padding: 0.3rem;
/**
 * @section Style
 */
mv-badge {
  position: relative;
  font-weight: 300;
  color: $mv-color__gray--100;
}

.mv-badge {
  &__text {
    position: relative;
    display: inline-flex;
    margin-right: ($mv-badge-padding);
  }

  &__box {
    min-width: $mv-badge-size;
    height: $mv-badge-size;
    padding: 0 0.5rem;
    position: relative;
    top: -($mv-badge-size / 2);
    left: auto;
    right: -($mv-badge-padding);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: 300;
    font-size: $mv-badge-font-size;
    border-radius: ($mv-badge-size / 2);
    white-space: nowrap;
    user-select: none;
    color: $mv-badge-color;
    background: $mv-badge-background;
  }
  @at-root {
    [mv-button] mv-badge {
      margin: auto 0;
      color: inherit;
      font-weight: inherit;
    }

    [mv-button] &__text {
      position: relative;
      display: flex;
      margin-right: ($mv-badge-padding);
    }

    [mv-button] &__box {
      position: relative;
      top: 0;
      right: -($mv-badge-padding);
      align-self: center;
    }
  }
}
