/**
 * Avatar
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../core/style/variables";

/**
 * @section Style
 */

mv-avatar {
    display: inline-flex;
    height: $mv-size__height;
    width: $mv-size__height;
    border-radius: ($mv-size__height/2);
    overflow: hidden;

    &[small] {
        height: $mv-size__height--small;
        width: $mv-size__height--small;
        border-radius: ($mv-size__height--small/2);
    }
    &[medium] {
        height: $mv-size__height--medium;
        width: $mv-size__height--medium;
        border-radius: ($mv-size__height--medium/2);
    }
    &[tall] {
        height: $mv-size__height--tall;
        width: $mv-size__height--tall;
        border-radius: ($mv-size__height--tall/2);
    }
}

.mv-avatar {
    &__img {
        width: 100%;
    }
}
