<header>
  <h2>Tipografia</h2>
</header>

<header>
  <a href="#" title="Site title">
    <h1>Título como link</h1>
  </a>
  <nav>
    <ul>
      <li> <a href="#" title="Home">Home</a> </li>
      <li> <a href="#" title="About">About</a> </li>
      <li> <a href="#" title="Sign Up">Sign Up</a> </li>
      <li> <a href="#" title="Contact">Contact</a> </li>
      <li> <a href="#" title="Careers">Careers</a> </li>
    </ul>
  </nav>
</header>

<section>
  <h1>First Header h1</h1>
  <h2>Second header h2</h2>
  <h3>Third header h3</h3>
  <h4>Fourth header h4</h4>
  <h5>Fifth header h5</h5>
  <h6>Sixth header h6</h6>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</section>

<section>
  <h1>Links</h1>
  <a href="#">Sample text link</a> .
  <a href="#">Sample button link</a>
</section>

<section>
  <h1>Lists</h1>
  <h2>Unordered list</h2>
  <ul>
    <li>Orange</li>
    <li>Apple</li>
    <li>Rhubarb</li>
    <li>Rasberry</li>
    <li>Blueberry</li>
    <li>Cherry</li>
  </ul>
  <h2>Ordered list</h2>
  <ol>
    <li>First</li>
    <li>Second</li>
    <li>Third</li>
    <li>Fourth</li>
    <li>Fifth</li>
    <li>Sixth</li>
  </ol>
  <h2>Definition list</h2>
  <dl>
    <dt>
      Kick
    </dt>
    <dd>
      808
    </dd>
    <dt>
      Snare
    </dt>
    <dd>
      909
    </dd>
  </dl>
  <dl>
    <dt> Maine </dt>
    <dd> Augusta </dd>
    <dt> California </dt>
    <dd> Sacremento </dd>
    <dt> Oregon </dt>
    <dd> Salem </dd>
    <dt> New York </dt>
    <dd> Albany </dd>
  </dl>
  <dl>
    <dt> Ascender </dt>
    <dd> The part of certain lowercase letters that extends above the x-height of a font. </dd>
    <dt> Font </dt>
    <dd> Traditionally, a complete set of characters for one typeface at one particular type size. Often used more loosely as a synonym for "typeface".
    </dd>
    <dt> Golden Section </dt>
    <dd>
      The ideal proportion according to the ancient Greeks. It is visualized as the division of a line into two unequal segments in such a way that the ratio of the smaller segment to the larger segment is equal to the ratio of the larger to the whole. It is
      usually defined as 21:34, that is, 21/34 and 34/(21+34) both equal approximately 0.618. A rectangle whose sides are of this proportion is called a "golden rectangle". Golden rectangles can be found in the proportions of the Parthenon and many
      medieval manuscripts.
    </dd>
  </dl>
</section>

<section>
  <h1>An Example Article</h1>
  <article>
    <h1>Title</h1>
    <p>
      Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit</b>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <em>exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat</em>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <blockquote>
      <p>
        This is a GREAT pull quote.
      </p>
      <a href="#">- Author</a>
    </blockquote>
    <p>
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
      ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
    </p>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
      animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    </p>
  </article>
</section>



<section>
  <h1>Forms</h1>
  <form>
    <fieldset>
      <!--
      Every fieldset must contain a legend. IE barfs if it's not there.
      It's no fun.
      -->
      <legend>Legend Example</legend>

      <div>
        <label>Text Input Label</label>
        <input type="text" />
        <p>Helper text if necessary.</p>
      </div>

      <div>
        <label>Password</label>
        <input type="password" />
        <p>Error messages when appropriate.</p>
      </div>

      <div>
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" />
      </div>

      <div>
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" />
      </div>

      <div>
        <label for="email">Email</label>
        <input type="email" id="email" />
      </div>


      <div>
        <label for="gender">Dropdown</label>
        <select>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>

      <div>
        <label>Radio Buttons</label>
        <ul>
          <li><label><input type="radio" /> Label 1</label></li>
          <li><label><input type="radio" /> Label 2</label></li>
          <li><label><input type="radio" /> Label 3</label></li>
        </ul>
      </div>

      <div>
        <label for="url">URL Input</label>
        <input type="url" placeholder="http://mrmrs.cc" />
      </div>

      <div>
        <label>Text area</label>
        <textarea></textarea>
      </div>

      <div>
        <label><input type="checkbox" /> This is a checkbox.</label>
      </div>

      <div>
        <input type="submit" value="Submit" />
      </div>

    </fieldset>
  </form>
</section>


<section>
  <h1>Footer</h1>
  <footer>
    <p>Copyright 2013. Made with love by <a href="http://mrmrs.cc" title="MRMRS - Designer">mrmrs</a>.</p>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">Jobs</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="http://twitter.com" title=" on Twitter">Twitter</a>
      </li>
      <li>
        <a href="http://pinterest.com" title=" on Pinterest">Pinterest</a>
      </li>
      <li>
        <a href="http://instagram.com" title=" on Instagram">Instagram</a>
      </li>
      <li>
        <a href="http://dribbbble.com" title=" on Dribbble">Dribbble</a>
      </li>
      <li>
        <a href="http://github.com" title=" on Github">Github</a>
      </li>
    </ul>
  </footer>
</section>

<section>
  <h1>New hawtness</h1>
  <progress value="80" max="100">80 %</progress>
  <p>We are this close to the goal:
    <meter min="0" max="1000" value="824">$824</meter>.</p>
</section>

<section>
  <header>
    <h1>Simbolos gerais</h1>
  </header>
  <small>This is for things like copyright info</small>
  <s>Content that isn't accurate or relevant anymore.</s>
  <span>Generic span wrapper</span>
  <abbr>HTML How to meet ladies</abbr>
  <p>This is inline text with <sub>subscript</sub> and <sup>superscript</sup> elements.</p>
  <p>
    <var>f</var>(<var>x</var>) = <var>a</var><sub>0</sub> + <var>a</var><sub>1</sub><var>x</var> +
    <var>a</var><sub>2</sub><var>x</var><sup>2</sup>, where <var>a</var><sup>2</sup> ≠ 0
  </p>
  <time datetime="2013-09-07" pubdate>07 September 2013</time>
</section>

<section>
  <header>
    <h1>Figuras</h1>
  </header>
  <figure>
    <img src="http://placekitten.com/g/960/320" alt="Figure Example">
    <figcaption>
      Photo of the sky at night. Original by <a href="http://flickr.com/photos/heyitsadam/">@mrmrs</a>
    </figcaption>
  </figure>
</section>


<section>
  <header>
    <h1>Tabelas</h1>
  </header>
  <!--
    From the HTML spec (http://www.w3.org/TR/html401/struct/tables.html)

    TFOOT must appear before TBODY within a TABLE definition so that user agents can
    render the foot before receiving all of the (potentially numerous) rows of data.
    The following summarizes which tags are required and which may be omitted:

    The TBODY start tag is always required except when the table contains only one
    table body and no table head or foot sections. The TBODY end tag may always be
    safely omitted.

    The start tags for THEAD and TFOOT are required when the table head and foot sections
    are present respectively, but the corresponding end tags may always be safely
    omitted.

    Conforming user agent parsers must obey these rules for reasons of backward
    compatibility.
    -->
  <table>
    <caption>This is a caption for a table</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Address</th>
      </tr>
    </thead>
    <tfoot>
      Table footer info
    </tfoot>
    <tbody>
      <tr>
        <td>#999-32ac</td>
        <td>First Name</td>
        <td>13 May, 2013</td>
        <td>999 Spruce Lane, Somewhere, CA 94101</td>
      </tr>
      <tr>
        <td>#888-32dd</td>
        <td>Sample Name</td>
        <td>17 May, 1984</td>
        <td>999 Spruce Lane, Somewhere, CA 94101</td>
      </tr>
    </tbody>
  </table>
</section>


<section>
  <h1>Footer</h1>
  <footer>
    <small>© 2014 Some company name</small>
    <address>email@email.com</address>
  </footer>
</section>
