/**
 * Form Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../../core/style/variables";

/**
 * @section Style
 */

mv-control-number {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance:textfield;
  }
  mv-control-action [mv-button] {
    height: inherit;
    line-height: 1.5rem;
  }
}
