<header>
  <h1 class="mega-ns">mv-button</h1>
</header>
<p>
  <button mv-button>A button</button>
  <button mv-button class="mv-button--default">Default</button>
  <button mv-button class="mv-button--raised">Raised</button>
  <button mv-button disabled>Disabled</button>
</p>
