<!--Menu Lateral-->
<mv-aside #mainMenu>
  <mv-menu-header>
    Emeve UI
  </mv-menu-header>
  <mv-menu-item routerLink="">Introdução</mv-menu-item>
  <mv-menu-item>Github</mv-menu-item>
  <mv-menu-item>Documentação</mv-menu-item>
  <mv-menu-header>
    Components
  </mv-menu-header>
  <mv-menu-item routerLink="/demo/layout">Layout</mv-menu-item>
  <mv-menu-item routerLink="/demo/avatar">Avatar</mv-menu-item>
  <mv-menu-item routerLink="/demo/badge">Badge</mv-menu-item>
  <mv-menu-item routerLink="/demo/button">Button</mv-menu-item>
  <mv-menu-item routerLink="/demo/card">Card</mv-menu-item>
  <mv-menu-item routerLink="/demo/color">Color</mv-menu-item>
  <mv-menu-item routerLink="/demo/control">Control</mv-menu-item>
  <mv-menu-item routerLink="/demo/footer">Footer</mv-menu-item>
  <mv-menu-item routerLink="/demo/header">Header</mv-menu-item>
  <mv-menu-item routerLink="/demo/icon">Ícones</mv-menu-item>
  <mv-menu-item routerLink="/demo/list">List</mv-menu-item>
  <mv-menu-item routerLink="/demo/menu">Menu</mv-menu-item>
  <mv-menu-item routerLink="/demo/modal">Modal</mv-menu-item>
  <mv-menu-item routerLink="/demo/toolbar">Toolbar</mv-menu-item>
  <mv-menu-item routerLink="/demo/typography">Typography</mv-menu-item>
  <mv-menu-header>
    Pipes
  </mv-menu-header>
  <mv-menu-item routerLink="/demo/pipes">Boleto</mv-menu-item>
  <mv-menu-item routerLink="/demo/pipes">CEP</mv-menu-item>
  <mv-menu-item routerLink="/demo/pipes">CNPJ</mv-menu-item>
  <mv-menu-item routerLink="/demo/pipes">CPF</mv-menu-item>
  <mv-menu-item routerLink="/demo/pipes">Phone</mv-menu-item>
</mv-aside>

<!--Cabeçalho-->
<mv-header>
  <mv-header-menu>
    <button mv-button (click)="mainMenu.toggle()" accesskey="2">
      <mv-icon name="menu"></mv-icon> Menu
    </button>
  </mv-header-menu>

  <mv-header-logo>
    logo
  </mv-header-logo>

  <mv-header-tool>
    <mv-menu class="mv-menu--flip">
      <mv-menu-button>
        Mais
      </mv-menu-button>
      <mv-menu-list>
        <mv-menu-item href="#" icon="person">Perfil</mv-menu-item>
        <mv-menu-divisor></mv-menu-divisor>
        <mv-menu-item href="#" icon="book">Documentação</mv-menu-item>
        <mv-menu-item href="#" icon="chat">Suport</mv-menu-item>
      </mv-menu-list>
    </mv-menu>
  </mv-header-tool>
</mv-header>
<!--/Cabeçalho-->
<mv-grid>

  <mv-container>
    <router-outlet></router-outlet>
  </mv-container>

</mv-grid>
