/**
 * Toolbar
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../core/style/variables";

/**
 * @section Style
 */
mv-toolbar {
  padding: ($mv-layout__gutter/2) 0;
  margin-left: $mv-layout__gutter-compensation;
  margin-right: $mv-layout__gutter-compensation;
  min-height: $mv-size__height + $mv-layout__gutter;
  line-height: $mv-size__height;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  background-color: $mv-color__gray--50;

  &.mv-toolbar--small .mv-toolbar__container {
    height: $mv-size__height--small;
  }
  &.mv-toolbar--medium .mv-toolbar__container {
    height: $mv-size__height--medium;
  }
  &.mv-toolbar--tall .mv-toolbar__container {
    height: $mv-size__height--tall;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  h1,
  h2{
    font-size: $font-size-h3;
  }

}

.grid mv-toolbar,
[mv-grid] mv-toolbar,
mv-grid mv-toolbar,
.container mv-toolbar,
[mv-container] mv-toolbar,
mv-container mv-toolbar {
  padding-left: $mv-layout__outer-margin;
  padding-right: $mv-layout__outer-margin;
}

// .mv-toolbar {
//   &__container {
//     display: flex;
//     flex: 1;
//     align-items: center;
//     // min-height: $mv-size__height;
//   }
// }
