<header>
  <h1>Layout</h1>
  <h2>Aside</h2>
</header>

<mv-container style="position: relative; with:100%; height: 600px;">
  <mv-aside #leftAside class="mv-aside--relative">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolores eius libero animi ducimus obcaecati vitae vel, excepturi maxime qui cum officiis facere, voluptatum! Temporibus maxime impedit provident aliquam odio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolores eius libero animi ducimus obcaecati vitae vel, excepturi maxime qui cum officiis facere, voluptatum! Temporibus maxime impedit provident aliquam odio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolores eius libero animi ducimus obcaecati vitae vel, excepturi maxime qui cum officiis facere, voluptatum! Temporibus maxime impedit provident aliquam odio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolores eius libero animi ducimus obcaecati vitae vel, excepturi maxime qui cum officiis facere, voluptatum! Temporibus maxime impedit provident aliquam odio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolores eius libero animi ducimus obcaecati vitae vel, excepturi maxime qui cum officiis facere, voluptatum! Temporibus maxime impedit provident aliquam odio.</p>
  </mv-aside>
  <mv-aside #rightAside class="mv-aside--relative">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolores eius libero animi ducimus obcaecati vitae vel, excepturi maxime qui cum officiis facere, voluptatum! Temporibus maxime impedit provident aliquam odio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolores eius libero animi ducimus obcaecati vitae vel, excepturi maxime qui cum officiis facere, voluptatum! Temporibus maxime impedit provident aliquam odio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolores eius libero animi ducimus obcaecati vitae vel, excepturi maxime qui cum officiis facere, voluptatum! Temporibus maxime impedit provident aliquam odio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolores eius libero animi ducimus obcaecati vitae vel, excepturi maxime qui cum officiis facere, voluptatum! Temporibus maxime impedit provident aliquam odio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolores eius libero animi ducimus obcaecati vitae vel, excepturi maxime qui cum officiis facere, voluptatum! Temporibus maxime impedit provident aliquam odio.</p>
  </mv-aside>
  <mv-row style="height: 600px; background-color: #f5f5f5;" class="align-center align-middle">
    <mv-col>
      <button mv-button (click)="leftAside.toggle()">
        <mv-icon name="menu"></mv-icon> Esquerdo
      </button>
      <button mv-button (click)="rightAside.toggle()">
        Direito <mv-icon name="menu"></mv-icon>
      </button>
    </mv-col>
  </mv-row>
</mv-container>
