<button mv-button type="button" (click)="open()" (blur)="onBlur($event)">
  <ng-content select="mv-menu-button"></ng-content>
</button>
<div class="mv-menu__container"
  [ngClass]="classMenuContainer()"
  (mouseleave)="onMouseLeaves($event)">
  <ng-content select="mv-menu-list"></ng-content>
</div>
