/**
 *  Menu
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Menu
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../core/style/variables";

/**
 * @section Style
 */
mv-menu {
  display: inline-block;
  position: relative;
  color: $mv-font--color;
}

mv-menu-header {
  margin: 0;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: $mv-color__primary;
  //border-bottom: 1px solid $mv-color__primary;
}

mv-menu-divisor {
  cursor: pointer;
  height: 0;
  border-bottom: 1px solid $mv-color__gray--50;
  box-sizing: border-box;
}

.mv-menu {

  &__container {
    position: absolute;
    min-width: 12.5rem;
    // width: 12.5rem;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    background-color: $mv-color__light;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transform-origin: 0 0;
    will-change: transform;
    transition: visibility 100ms 100ms linear,
    transform 300ms $mv-animation-curve-default,
    opacity 200ms $mv-animation-curve-default;
    z-index: -1;

    &.js-mv-menu--visible {
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      z-index: 999;
    }

    .mv-menu--center & {
      left: 0;
      right: 0;
      transform-origin: 50% 0;
    }
    .mv-menu--flip & {
      right: 0;
      left: auto;
      transform-origin: 100% 0;
    }
    .mv-menu--reverse & {
      // top: -2rem;
      // left: 0;
      // top: auto;
      bottom: 2rem;
      transform-origin: 0 100%;
    }
    .mv-menu--flip.mv-menu--reverse & {
      transform-origin: 100% 100%;
    }
    .mv-menu--center.mv-menu--reverse & {
      transform-origin: 50% 100%;
    }
  }
}
