<header>
  <h2 class="mega-ns">Cores</h2>
</header>

<mv-row>
  <mv-col class="xs-12 sm-2">
    <ul>
      <li class="mv-color--primary-50">50</li>
      <li class="mv-color--primary-100">100</li>
      <li class="mv-color--primary-200">200</li>
      <li class="mv-color--primary-300">300</li>
      <li class="mv-color--primary-400">400</li>
      <li class="mv-color--primary-500">500</li>
      <li class="mv-color--primary-600">600</li>
      <li class="mv-color--primary-700">700</li>
      <li class="mv-color--primary-800">800</li>
      <li class="mv-color--primary-900">900</li>
      <li class="mv-color--primary-A100">A100</li>
      <li class="mv-color--primary-A200">A200</li>
      <li class="mv-color--primary-A400">A400</li>
      <li class="mv-color--primary-A700">A700</li>
    </ul>
  </mv-col>
  <mv-col class="xs-12 sm-2">
    <ul>
      <li class="mv-color--secondary-50">50</li>
      <li class="mv-color--secondary-100">100</li>
      <li class="mv-color--secondary-200">200</li>
      <li class="mv-color--secondary-300">300</li>
      <li class="mv-color--secondary-400">400</li>
      <li class="mv-color--secondary-500">500</li>
      <li class="mv-color--secondary-600">600</li>
      <li class="mv-color--secondary-700">700</li>
      <li class="mv-color--secondary-800">800</li>
      <li class="mv-color--secondary-900">900</li>
      <li class="mv-color--secondary-A100">A100</li>
      <li class="mv-color--secondary-A200">A200</li>
      <li class="mv-color--secondary-A400">A400</li>
      <li class="mv-color--secondary-A700">A700</li>
    </ul>
  </mv-col>
  <mv-col class="xs-12 sm-2">
    <ul>
      <li class="mv-color--danger-50">50</li>
      <li class="mv-color--danger-100">100</li>
      <li class="mv-color--danger-200">200</li>
      <li class="mv-color--danger-300">300</li>
      <li class="mv-color--danger-400">400</li>
      <li class="mv-color--danger-500">500</li>
      <li class="mv-color--danger-600">600</li>
      <li class="mv-color--danger-700">700</li>
      <li class="mv-color--danger-800">800</li>
      <li class="mv-color--danger-900">900</li>
      <li class="mv-color--danger-A100">A100</li>
      <li class="mv-color--danger-A200">A200</li>
      <li class="mv-color--danger-A400">A400</li>
      <li class="mv-color--danger-A700">A700</li>
    </ul>
  </mv-col>
  <mv-col class="xs-12 sm-2">
    <ul>
      <li class="mv-color--warning-50">50</li>
      <li class="mv-color--warning-100">100</li>
      <li class="mv-color--warning-200">200</li>
      <li class="mv-color--warning-300">300</li>
      <li class="mv-color--warning-400">400</li>
      <li class="mv-color--warning-500">500</li>
      <li class="mv-color--warning-600">600</li>
      <li class="mv-color--warning-700">700</li>
      <li class="mv-color--warning-800">800</li>
      <li class="mv-color--warning-900">900</li>
      <li class="mv-color--warning-A100">A100</li>
      <li class="mv-color--warning-A200">A200</li>
      <li class="mv-color--warning-A400">A400</li>
      <li class="mv-color--warning-A700">A700</li>
    </ul>
  </mv-col>
  <mv-col class="xs-12 sm-2">
    <ul>
      <li class="mv-color--success-50">50</li>
      <li class="mv-color--success-100">100</li>
      <li class="mv-color--success-200">200</li>
      <li class="mv-color--success-300">300</li>
      <li class="mv-color--success-400">400</li>
      <li class="mv-color--success-500">500</li>
      <li class="mv-color--success-600">600</li>
      <li class="mv-color--success-700">700</li>
      <li class="mv-color--success-800">800</li>
      <li class="mv-color--success-900">900</li>
      <li class="mv-color--success-A100">A100</li>
      <li class="mv-color--success-A200">A200</li>
      <li class="mv-color--success-A400">A400</li>
      <li class="mv-color--success-A700">A700</li>
    </ul>
  </mv-col>
</mv-row>
