<!-- Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="mv-shield" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 200 197.8" style="enable-background:new 0 0 200 197.8;" xml:space="preserve">
<title>{{title}}</title>
<path id="shield_base" class="st0" d="M100,197.8C36.5,172.8,0.9,110.1,0,21.2c0-1.8,1.2-3.3,2.9-3.8C23.4,10.9,63.3,0,100,0
	s76.6,10.9,97.1,17.4c1.7,0.5,2.9,2,2.9,3.8C199,110.1,163.5,172.8,100,197.8z"/>
<g>
	<defs>
		<path id="shield_mask" d="M100,189.6c-58.3-22.9-90.9-80.4-91.7-162c0-1.6,1.1-3,2.6-3.5c18.8-6,55.4-16,89.1-16s70.3,10,89.1,16
			c1.6,0.4,2.6,1.8,2.6,3.5C190.9,109.2,158.3,166.7,100,189.6"/>
	</defs>
	<clipPath id="shield_mask_1_">
		<use xlink:href="#shield_mask"  style="overflow:visible;"/>
	</clipPath>
	<g style="clip-path:url(#shield_mask_1_);">
			<image style="overflow:visible;" width="200" height="200" [attr.xlink:href]="image"  transform="matrix(1 0 0 1 4 0)">
		</image>
	</g>
</g>
<g class="shield_link">
  <path id="shield_mouse" class="st1" d="M100,189.6c-58.3-22.9-90.9-80.4-91.7-162c0-1.6,1.1-3,2.6-3.5c18.8-6,55.4-16,89.1-16
  	s70.3,10,89.1,16c1.6,0.4,2.6,1.8,2.6,3.5C190.9,109.2,158.3,166.7,100,189.6"/>
  <text transform="matrix(1 0 0 1 53.34 107.74)" class="st2 st3 st4">Sobre</text>
</g>
</svg>
