/**
 * Avatar
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../../core/style/variables";

/**
 * @section Style
 */

:host {
  display: block;
  max-width: 12.5rem;
  margin: 0 auto;
}

:host([no-link]) {
  .shield_link{
    display: none;
  }
  .shield_link:hover {
    opacity: 0;
    pointer-events: none;
  }
}

.shield_link {
  opacity: 0;
  transition: opacity 300ms ease;
}

.shield_link:hover {
  opacity: 1;
  cursor: pointer;
}

.st0 {
  fill: #B4E550;
}

.st1 {
  fill: #203240;
}

.st2 {
  fill: #FFFFFF;
  enable-background: new;
}

.st3 {
  font-family: 'Fira Sans';
  font-weight: 300;
}

.st4 {
  font-size: 36px;
}
