<h1>Control</h1>

<h2>Reactive Form</h2>
<form [formGroup]="demof">

  <h3>mv-control-checkbox</h3>

  <!--checkbox-->
  <mv-control-checkbox [formControl]="demof.controls['check']" label="Ativação de usuário">
    <mv-control-true>Ativado</mv-control-true>
    <mv-control-false>Desativado</mv-control-false>
  </mv-control-checkbox>
  <!--/checkbox-->

  <!--toggle-->
  <mv-control-checkbox [formControl]="demof.controls['check']" label="Ativação de usuário" switch>
    <mv-control-true>Ativado</mv-control-true>
    <mv-control-false>Desativado</mv-control-false>
  </mv-control-checkbox>
  <!--\toggle-->

  <h3>mv-control-file</h3>

  <mv-control-file [formControl]="demof.controls['arquivo']" label="Arquivo"></mv-control-file>


  <h3>mv-control-number</h3>

  <!--Number-->
  <mv-control-number [formControl]="demof.controls['counter']" label="Idade"></mv-control-number>
  <!--/Number-->

  <h3>mv-control-editor</h3>
  <mv-control-editor [formControl]="demof.controls['editor']" label="Editor Snow" icon="book"></mv-control-editor>
  <mv-control-editor [formControl]="demof.controls['editor']" label="Editor Bubble" theme="bubble"></mv-control-editor>

  <h3>mv-control-select</h3>

  <!--Select-->
  <mv-control-select [formControl]="demof.controls['select']" label="Selecione">
    <option value="um">Um</option>
    <option value="dois">dois</option>
  </mv-control-select>
  <!--/Select-->

<h3>mv-control-text</h3>

  <!--Control input with errors-->
  <mv-control-text [formControl]="demof.controls['user']"
                    label="Usuário"
                    icon="user"
                    placeholder="00 00-0"
                    pattern="[^\d]+"
                    maxlength="10">
    <mv-control-errors>
      <mv-control-error validator="required">Obrigatório</mv-control-error>
      <mv-control-error validator="minlength">Tamanho mínimo 5</mv-control-error>
      <mv-control-error validator="pattern">Ein! Nunca ouvi falar que nome tivesse números</mv-control-error>
    </mv-control-errors>
  </mv-control-text>

  <mv-container>
    <mv-row>
      <mv-col class="xs-12 md-4">
        <!--Control input attribute-->
        <mv-control-text [formControl]="demof.controls['cpf']" label="CPF" mask="cpf">
          <mv-control-errors>
            <mv-control-error validator="required">Você precisa digitar um CPF</mv-control-error>
          </mv-control-errors>
        </mv-control-text>
      </mv-col>
      <mv-col class="xs-12 md-4">
        <!--Control input element-->
        <mv-control-text [formControl]="demof.controls['cnpj']" label="CNPJ" mask="cnpj"></mv-control-text>
      </mv-col>
      <mv-col class="xs-12 md-4">
        <!--Control input mask-->
        <mv-control-text [formControl]="demof.controls['cep']" label="CEP" mask="cep"></mv-control-text>
      </mv-col>
    </mv-row>
  </mv-container>

  <!--Control input password-->
  <mv-control-text [formControl]="demof.controls['passwd']" label="Senha" type="password"></mv-control-text>

  <!--Control input email-->
  <mv-control-text [formControl]="demof.controls['email']" label="E-mail" type="email"></mv-control-text>

  <!--Control input tel-->
  <mv-control-text [formControl]="demof.controls['telefone']" label="Telefone" mask="phone" type="tel"></mv-control-text>

  <!--Control input tel-->
  <mv-control-text [formControl]="demof.controls['data']" label="Data" type="date"></mv-control-text>
  <mv-control-text [formControl]="demof.controls['hora']" label="Hora" type="time"></mv-control-text>


</form>

<pre>{{demof.value | json}}</pre>
<pre>{{demof.controls['user'].errors | json}}</pre>

<h2>Native HTML 5</h2>
<form #demoForm="ngForm" novalidate>

  <!--Info-->
  <mv-control icon="barcode">
    <label>Código</label>
    250002-0029-2222
  </mv-control>
  <!--/Info-->

  <!--Text-->
  <mv-control class="mv-control--error">
    <label for="user">User</label>
    <input id="user" type="text" name="user" ngModel maxlength="10">
  </mv-control>
  <!--/Text-->

  <!--E-mail-->
  <mv-control class="mv-control--valid">
    <label for="email">E-mail</label>
    <input id="email" type="email" name="email" ngModel>
  </mv-control>
  <!--/E-mail-->

  <!--Password-->
  <mv-control class="mv-control--valid">
    <label for="password">Senha</label>
    <input id="password" type="password" name="passwd" ngModel>
  </mv-control>
  <!--/Password-->

  <!--Checkbox-->
  <mv-control>
    <label for="check">Checando</label>
    <input mv-control-checkbox-input id="check" type="checkbox" name="checkin">
    <mv-control-status>
      <mv-control-true>Ligado</mv-control-true>
      <mv-control-false>Desligado</mv-control-false>
    </mv-control-status>
  </mv-control>
  <!--/Checkbox-->

  <!--Number-->
  <mv-control>
    <label for="number1">Number</label>
    <input id="number1" type="number" name="number" ngModel>
  </mv-control>
  <!--Number-->

  <!--Select-->
  <mv-control>
    <label for="the4">Select</label>
    <select id="the4" name="quantidade" ngModel>
      <option value="um">Um</option>
      <option value="dois">dois</option>
    </select>
  </mv-control>
  <!--/Select-->

  <!--Date-->
  <mv-control>
    <label for="the5">Date</label>
    <input id="the5" type="date" name="dia" ngModel>
  </mv-control>
  <!--/Date-->

  <!--Time-->
  <mv-control>
    <label for="the6">Time</label>
    <input id="the6" type="time" name="time" ngModel>
  </mv-control>
  <!--/Time-->

  <!--Tel-->
  <mv-control>
    <label for="the8">Tel</label>
    <input id="the8" type="tel" name="tel" ngModel>
  </mv-control>
  <!--/Tel-->

  <!--Radio-->
  <mv-control>
    <label for="the9">Radio</label>
    <input id="the9" type="radio" name="the_radio" ngModel>
  </mv-control>
  <!--/Radio-->

  <!--File-->
  <mv-control>
    <label for="the10">file</label>
    <input id="the10" type="file" name="the_file" ngModel>
  </mv-control>
  <!--/File-->
  <!--<input type="file">-->

  <!--Color-->
  <!--<mv-control>-->
  <!--<label for="color">Senha</label>-->
  <!--<input id="color" type="color" name="color">-->
  <!--</mv-control>-->
  <!--/Color-->


  <!--<input type="radio">-->

  <!--<mv-control icon="lock"-->
  <!--ngClass="{-->
  <!--'mv-control&#45;&#45;true':toggle.value,-->
  <!--'mv-control&#45;&#45;false':!toggle.value,-->
  <!--}">-->
  <!--<span class="mv-control__toggle-label-true">Text on</span>-->
  <!--<span class="mv-control__toggle-label-false">Text off</span>-->
  <!--<input #toggle type="checkbox" name="toggle" (change)="toggle.value=$event.target.value">-->
  <!--<span>{{toggle.value | json}}</span>-->
  <!--<mv-control-action>-->
  <!--<button mv-button type="button" class="mv-button&#45;&#45;icon">-->
  <!--<mv-icon>user</mv-icon>-->
  <!--</button>-->
  <!--</mv-control-action>-->
  <!--</mv-control>-->
</form>
<pre>{{demoForm.value | json}}</pre>
