<mv-control-reactive>
  <label [attr.for]="inputId">Número</label>
  <input [attr.id]="inputId" type="number" value="{{counterValue}}"
         #number>
  <mv-control-action>
    <button mv-button class="mv-button--icon"
            (click)="increment($event)">
      +
    </button>
    <button mv-button class="mv-button--icon"
            (click)="decrement($event)">
      -
    </button>
  </mv-control-action>
</mv-control-reactive>
