<mv-ui>
  <mv-iconset prefix="oi" link="/assets/css/open-iconic.css"></mv-iconset>
  <mv-iconset link="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></mv-iconset>
  <link rel="stylesheet" href/>
</mv-ui>
<router-outlet></router-outlet>
<button mv-button>
  <mv-icon prefix="fa" name="user"></mv-icon>
  FontAwesome
</button>
<button mv-button>
  <mv-icon prefix="oi" name="person"></mv-icon>
  Iconic
</button>
