<header>
  <h1 class="mega-ns">mv-badge</h1>
</header>

<p>
  texto:
  <mv-badge text="1">inbox</mv-badge>
  <mv-badge text="25">New Files</mv-badge>
  <mv-badge text="250">Notícias</mv-badge>
  <mv-badge text="250">E-mails enviados</mv-badge>
</p>
<p>
  <button mv-button>
    <mv-badge text="20k">Um botão</mv-badge>
  </button>
</p>
