/**
 *  Menu Item
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Menu
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../../core/style/variables";
/**
 * @section Style
 */
mv-menu-item {
  display: flex;
  flex: 1;
  transition: box-shadow 0.2s ease,
              background-color 0.2s ease,
              color 0.2s ease;

  &:hover {
    color: $mv-color__primary--50;
    background-color: $mv-color__primary;
    cursor: pointer;
  }
}

.mv-menu-item {

  &__link {
    padding: 0.25rem ($mv-layout__gutter/2);
    display: flex;
    flex: 1;
    text-decoration: none;
    color: inherit;

  }
  &__icon {
    padding-right: 0.5rem;
  }
  &__text {
    pointer-events: none;
  }
}
