<header>
  <h2 class="mega-ns">mv-avatar</h2>
</header>
<ul>
  <li>
    <mv-avatar src="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar> <span>default</span></li>
  <li>
    <mv-avatar small src="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar> <span>small</span></li>
  <li>
    <mv-avatar medium src="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar> <span>medium</span></li>
  <li>
    <mv-avatar tall src="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar> <span>tall</span></li>
</ul>

<div mv-col class="align-center align-middle">
  <mv-avatar src="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar>
  <mv-avatar small src="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar>
  <mv-avatar medium src="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar>
  <mv-avatar tall src="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar>
</div>
<h2 class="mega-ns">mv-avatar-shield</h2>
<mv-avatar-shield title="Oi" image="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar-shield>
