<mv-container>
  <header>
    <h1 class="mega-ns">mv-footer</h1>
  </header>
</mv-container>

<!--Exemplo-->
<mv-footer logo="/assets/img/mvinicius_logo.svg">
  <mv-row>
    <nav mv-col class="xs-12 sm-4">
      <ul>
        <li>texto</li>
      </ul>
    </nav>
    <nav mv-col class="xs-12 sm-4">
      <ul>
        <li>texto</li>
      </ul>
    </nav>
    <nav mv-col class="xs-12 sm-4">
      <ul>
        <li>texto</li>
      </ul>
    </nav>
  </mv-row>
  <mv-footer-about>
    <p>MVinicius Consultoria</p>
    <p>CNPJ 19.732.576/0001-71</p>
    <p>© Todos os direitos reservados . Termos e condições</p>
  </mv-footer-about>
</mv-footer>
<!--/Exemplo-->
