<header>
  <h1 class="mega-ns">card</h1>
</header>

<mv-row>
  <mv-card mv-col class="md-6" title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
    <mv-card-text>
      <p>Lorem ipsum dolor sit amet</p>
    </mv-card-text>
    <mv-card-action class="align-end">
      <button mv-button>enviar</button>
    </mv-card-action>
    <mv-card-menu>
      <button mv-button class="mv-button--icon">
          <mv-icon name="share"></mv-icon>
        </button>
    </mv-card-menu>
  </mv-card>

  <mv-card mv-col class="md-6" title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
    <mv-card-text>
      <p>Lorem ipsum dolor sit amet</p>
    </mv-card-text>
  </mv-card>

  <mv-card mv-col class="md-3" title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
    <mv-card-text>
      <p>Lorem ipsum dolor sit amet</p>
    </mv-card-text>
  </mv-card>

  <mv-card mv-col class="md-3" title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
    <mv-card-text>
      <p>Lorem ipsum dolor sit amet</p>
    </mv-card-text>
  </mv-card>

  <mv-card mv-col class="md-3" title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
    <mv-card-text>
      <p>Lorem ipsum dolor sit amet</p>
    </mv-card-text>
  </mv-card>

  <mv-card mv-col class="md-3" title="Wellcome" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
    <mv-card-text>
      <p>Lorem ipsum dolor sit amet</p>
    </mv-card-text>
  </mv-card>

   <mv-card mv-col class="md-12" img="http://images.r.cruisecritic.com/features/old/westerdam-ship-size.jpg">
    <mv-card-text>
      <h3>Título</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </mv-card-text>
    <mv-card-menu>
      <button mv-button class="mv-button--icon">
          <mv-icon name="share"></mv-icon>
        </button>
    </mv-card-menu>
  </mv-card>

  <mv-card mv-col class="md-4">
    <img src="http://www.laughspark.info/thumbfiles/705X705/cute-cat-reading-news-paper-635731347131608766-13772.jpg" alt="">
    <mv-card-text>
      <h3>Título</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </mv-card-text>
  </mv-card>

  <mv-card mv-col class="md-4">
    <img src="http://i.imgur.com/MQHYB.jpg" alt="">
    <mv-card-text>
      <h3>Título</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </mv-card-text>
  </mv-card>

  <mv-card mv-col class="md-4">
    <img src="http://i.imgur.com/JGP3JTL.jpg" alt="">
    <mv-card-text>
      <h3>Título</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </mv-card-text>
  </mv-card>

</mv-row>
