/**
 *  Aside
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Layout
 * @subpackage Aside
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../../core/style/variables";

/**
 * @section Style
 */
mv-aside {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  z-index: -1;
}

.mv-aside {
  position: relative;
  display: flex;
  flex: 1;
  z-index: -1;

  &__content {
    padding: 1rem;
    width: 80%;
    background-color: $mv-color__gray--50;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__backdrop {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(#000, .3);
  }

  &--relative {
    position: absolute;
  }
  @media screen and (min-width: $mv-device__md) {
    &__content {
      min-width: 30%;
      max-width: 18em;
    }
  }
  @media screen and (min-width: $mv-device__lg) {
    &__content {
      min-width: 20%;
      max-width: 18em;
    }
  }
}
