<nav [attr.id]="id" class="mv-aside">
  <div class="mv-aside__content"
  [@contentAnimation]="opened">
    <ng-content></ng-content>
  </div>
  <div class="mv-aside__backdrop"
  [@backdropAnimation]="opened"
    (click)="close($event)"> </div>
</nav>
