/**
 * Button
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Button
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../core/style/variables";

$bt_hover--color: $mv-color__primary--50;
$bt_hover--background-color: $mv-color__primary;
$bt_focus--color: $mv-color__primary--50;
$bt_focus--background-color: $mv-color__primary;
$bt_active--color: $mv-color__primary--100;
$bt_active--background-color: $mv-color__primary--400;
$bt_disabled--color: $mv-color__gray--300;
$bt_disabled--background-color: $mv-color__gray--100;
$bt--default--color: $mv-color__primary;
$bt--default_focus--background-color: $mv-color__primary;
$bt--raised--color: $mv-color__primary;
$bt--raised--box-shadow: 0 0 3px $mv-color__primary--A100;
$bt--raised_focus--background-color: $mv-color__primary;
$bt--raised__disabled--color: $mv-color__primary;
$bt--raised__disabled--background-color: $mv-color__primary;
$bt-height: 2rem;

/**
 * @section Style
 */

[mv-button] {
  position: relative;
  height: $bt-height;
  margin: 0;
  min-width: $bt-height * 3;
  padding: 0 1em;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: $bt-height;
  will-change: box-shadow;
  transition: box-shadow 0.2s ease, background-color 0.2s ease, color 0.2s ease;
  vertical-align: middle;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: $mv-border-radius-base;
  background: transparent;
  color: $mv-color__dark;

  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    color: $bt_hover--color;
    background-color: $bt_hover--background-color;
  }
  &:focus:not(:active) {
    color: $bt_focus--color;
    background-color: $bt_focus--background-color;
  }
  &:active {
    background-color: $bt_active--background-color;
  }
  &[disabled],
  &.mv-button--disabled {
    color: $bt_disabled--color;
    cursor: default;
    background-color: transparent;
  }
  &.mv-button--raised {
    box-shadow: $bt--raised--box-shadow;
    &[disabled],
    &.mv-button--disabled {
      color: $bt--raised__disabled--color;
      background-color: $bt--raised__disabled--background-color;
      box-shadow: none;
    }
  }
  & [mv-icon],
  & .mv-icon {
    margin: auto 0;
    line-height: inherit;
    color: inherit;
  }

  @media screen and (max-width: $mv-device__xs) {
    @at-root {
      mv-toolbar & {
        min-width: 100%;
      }
    }
  }
}

button[mv-button]{
  font-family: inherit;
}

.mv-button {
  &--icon {
    font-size: 1em;
    min-width: $bt-height;
    max-width: $bt-height;
    padding: 0;

    .mv-icon,
    [mv-icon],
    mv-icon {
      padding: 0;
      line-height: $bt-height;
    }
  }
}
