<header>
  <h1>Ícones</h1>
</header>

<input type="text" placeholder="busca" [value]="searchTerm" (keyup)="filterIcons($event)">

<mv-list>
  <mv-list-item *ngFor="let icon of icons | iconfilter:searchTerm">
    <mv-list-item-primary>
      <mv-icon [name]="icon"></mv-icon>
    </mv-list-item-primary>
    <h3>{{icon}}</h3>
  </mv-list-item>
</mv-list>

