/**
 * Form Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../../core/style/variables";


/**
 * @section Style
 */
.selectable {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}
mv-control-editor .mv-control__container {
  display: block;
}
mv-control-editor-area {
  display: block;
}

.ql-container .ql-editor {
  min-height: 200px;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-family: inherit;

  word-wrap: break-word;
  word-break: break-all;
}
mv-control-editor .ql-container {
  font-family: $font-family-base;
  color: $mv-color--default;
}
