<h1>Pipes</h1>

<h2>Boleto</h2>
<dl>
  <dt>00000000000000000000000000000000000000000000000</dt>
  <dd>{{'00000000000000000000000000000000000000000000000' | boleto}}</dd>
</dl>

<h2>CEP</h2>
<dl>
  <dt>12345678</dt>
  <dd>{{'12345678' | cep}}</dd>
</dl>

<h2>CNPJ</h2>
<dl>
  <dt>00000000000000</dt>
  <dd>{{'00000000000000' | cnpj}}</dd>
</dl>

<h2>CPF</h2>
<dl>
  <dt>12345678901</dt>
  <dd>{{'12345678901' | cpf}}</dd>
</dl>

<h2>Phone</h2>
<dl>
  <dt>8 digitos</dt>
  <dd>{{'93456988' | phone}}</dd>

  <dt>9 digitos</dt>
  <dd>{{'993456988' | phone}}</dd>

  <dt>11 digitos</dt>
  <dd>{{'69993456988' | phone}}</dd>

  <dt>13 digitos</dt>
  <dd>{{'5569993456988' | phone}}</dd>

  <dt>15 digitos</dt>
  <dd>{{'55069993456988' | phone}}</dd>

</dl>
