<section class="mv-modal" role="dialog" [@modalBoxAnimation]="state">
  <header class="mv-modal__header">
    <h1 class="mv-modal__title">{{title}}</h1>
  </header>
  <div class="mv-modal__body">
    <ng-content select="mv-modal-body"></ng-content>
  </div>
  <footer class="mv-modal__footer">
    <ng-content select="mv-modal-footer"></ng-content>
  </footer>
</section>
<div class="mv-modal__backdrop" (click)="close()" [@modalBackdropAnimation]="state"></div>
