<header>
  <h2 class="mega-ns">mv-toolbar</h2>
</header>

<!--Exemplo-->
<mv-toolbar class="mv-theme--default">
  <mv-row>
    <mv-col class="sm-3">default</mv-col>
    <mv-col>default</mv-col>
    <mv-col class="sm-3">default</mv-col>
  </mv-row>
</mv-toolbar>
<!--/Exemplo-->
<!--Exemplo-->
<mv-toolbar class="mv-toolbar--small mv-theme--secondary">
  <mv-row>
    <mv-col class="sm-3">default</mv-col>
    <mv-col>small</mv-col>
    <mv-col class="sm-3">default</mv-col>
  </mv-row>
</mv-toolbar>
<!--/Exemplo-->
<!--Exemplo-->
<mv-toolbar class="mv-toolbar--medium mv-theme--danger">
  <mv-row>
    <mv-col class="sm-3">default</mv-col>
    <mv-col>medium</mv-col>
    <mv-col class="sm-3">default</mv-col>
  </mv-row>
</mv-toolbar>
<!--/Exemplo-->
<!--Exemplo-->
<mv-toolbar class="mv-toolbar--tall mv-theme--warning">
  <mv-row>
    <mv-col class="sm-3">default</mv-col>
    <mv-col>tall</mv-col>
    <mv-col>tall2</mv-col>
    <mv-col class="sm-3 md-bottom">default</mv-col>
  </mv-row>
</mv-toolbar>
<!--/Exemplo-->

<!--Exemplo-->
<mv-toolbar class="mv-theme--default">
  <mv-row>
    <mv-col>Título linha 1</mv-col>
    <mv-col class="sm-3 align-end"><button mv-button>Teste</button></mv-col>
  </mv-row>
  <mv-row>
    <mv-col>Subtítulo linha 2</mv-col>
    <mv-col class="sm-3 align-end"><button mv-button class="mv-button--icon">+</button></mv-col>
  </mv-row>
</mv-toolbar>
<!--/Exemplo-->

<mv-toolbar>
  <mv-row>
    <mv-col>
      <h1>h1</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar>
  <mv-row>
    <mv-col>
      <h2>h2</h2>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar>
  <mv-row>
    <mv-col>
      <h3>h3</h3>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar>
  <mv-row>
    <mv-col>
      <h4>h4</h4>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar>
  <mv-row>
    <mv-col>
      <h5>h5</h5>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-toolbar>
  <mv-row>
    <mv-col>
      <h6>h6</h6>
    </mv-col>
  </mv-row>
</mv-toolbar>
