/**
 * Variables
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Variables
 */


/**
 * @subsection Color
 * generators:
 * http://mcg.mbitson.com/#/ : default
 * http://knizia.biz/mcg/#/ : dark correction
 */

$mv-color__default: #203240;

/** Primary */

$mv-color__primary: #203240;
$mv-color__primary--50: #E2E4E6;
$mv-color__primary--100: #BABFC4;
$mv-color__primary--200: #9099A0;
$mv-color__primary--300: #626F79;
$mv-color__primary--400: #41505C;
$mv-color__primary--500: #203240;
$mv-color__primary--600: #1D2D3A;
$mv-color__primary--700: #1A2834;
$mv-color__primary--800: #16232D;
$mv-color__primary--900: #101A21;
$mv-color__primary--A100: #9cb8cd;
$mv-color__primary--A200: #6993b4;
$mv-color__primary--A400: #2a4254;
$mv-color__primary--A700: #0c1217;
$mv-color__secondary: #b4e650;
$mv-color__secondary--50: #ffffff;
$mv-color__secondary--100: #fbfef5;
$mv-color__secondary--200: #e6f7c4;
$mv-color__secondary--300: #cbee86;
$mv-color__secondary--400: #bfea6b;
$mv-color__secondary--500: #b4e650;
$mv-color__secondary--600: #a9e235;
$mv-color__secondary--700: #9bda1f;
$mv-color__secondary--800: #88bf1b;
$mv-color__secondary--900: #75a417;
$mv-color__secondary--A100: #ffffff;
$mv-color__secondary--A200: #fbfef5;
$mv-color__secondary--A400: #bfea6b;
$mv-color__secondary--A700: #9bda1f;

/** Danger */

$mv-color__danger: #ae3311;
$mv-color__danger--50: #fad8ce;
$mv-color__danger--100: #f39f88;
$mv-color__danger--200: #ee7655;
$mv-color__danger--300: #e64316;
$mv-color__danger--400: #ca3b14;
$mv-color__danger--500: #ae3311;
$mv-color__danger--600: #922b0e;
$mv-color__danger--700: #76230c;
$mv-color__danger--800: #5a1a09;
$mv-color__danger--900: #3e1206;
$mv-color__danger--A100: #fad8ce;
$mv-color__danger--A200: #f39f88;
$mv-color__danger--A400: #ca3b14;
$mv-color__danger--A700: #76230c;

/** Warning */

$mv-color__warning: #ecc22f;
$mv-color__warning--50: #ffffff;
$mv-color__warning--100: #fcf5dc;
$mv-color__warning--200: #f7e6a9;
$mv-color__warning--300: #f1d267;
$mv-color__warning--400: #efca4b;
$mv-color__warning--500: #ecc22f;
$mv-color__warning--600: #e7b915;
$mv-color__warning--700: #cba213;
$mv-color__warning--800: #af8c10;
$mv-color__warning--900: #93750d;
$mv-color__warning--A100: #ffffff;
$mv-color__warning--A200: #fcf5dc;
$mv-color__warning--A400: #efca4b;
$mv-color__warning--A700: #cba213;

/** Success */

$mv-color__success: #256032;
$mv-color__success--50: #aee0b9;
$mv-color__success--100: #77cb89;
$mv-color__success--200: #4fbb66;
$mv-color__success--300: #368c49;
$mv-color__success--400: #2e763d;
$mv-color__success--500: #256032;
$mv-color__success--600: #1c4a26;
$mv-color__success--700: #14341b;
$mv-color__success--800: #0b1e0f;
$mv-color__success--900: #030804;
$mv-color__success--A100: #aee0b9;
$mv-color__success--A200: #77cb89;
$mv-color__success--A400: #2e763d;
$mv-color__success--A700: #14341b;

/** Mono */

$mv-color__light: #ffffff;
$mv-color__gray--50:#f5f5f5;
$mv-color__gray--100:#d3d3d3;
$mv-color__gray--300:#808080;
$mv-color__gray--400:#787878;
$mv-color__gray--500:#686868;
$mv-color__gray--600:#585858;
$mv-color__gray--700:#484848;
$mv-color__gray--800:#383838;
$mv-color__gray--900:#333333;
$mv-color__dark: #242424;
$mv-color__accent: #b4e650;

/**
 * @subsection Layout
 */

$mv-layout__columns: 12;
$mv-layout__gutter: 1rem;
$mv-layout__gutter-compensation: ($mv-layout__gutter * 0.5) * -1;
$mv-layout__outer-margin: 0.5rem;



/**
 * @subsection Sizes
 */

$mv-size__height: 2rem;
$mv-size__height--small: $mv-size__height+1rem;
$mv-size__height--medium: $mv-size__height * 2;
$mv-size__height--tall: $mv-size__height * 3;

/**
 * @subsection Screen
 */

$mv-device__xs: 30rem;
$mv-device__sm: 48rem;
$mv-device__md: 64rem;
$mv-device__lg: 75rem;
$mv-device__sm--min: $mv-device__xs;
$mv-device__md--min: $mv-device__sm;
$mv-device__lg--min: $mv-device__md;
$mv-device__xs--max: $mv-device__sm - 1;
$mv-device__sm--max: $mv-device__md - 1;
$mv-device__md--max: $mv-device__lg - 1;

/**
 * @subsection Typography
 */

$font-family-sans-serif: "Fira Sans", Helvetica,Arial,sans-serif;
$font-family-serif: "Fira Serif", Georgia, "Times New Roman", Times, serif;
$font-family-monospace: "Fira Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 16px;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2: floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-ultrabold: 900;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.25; // 24/16
$mv-font--color: $mv-color__dark;

/**
 * @subsection Border
 */

$mv-border-radius-base: 3px;
$mv-border-radius-small: 0;
$mv-border-radius-large: 1em;

/**
 * @Animation
 */
 $mv-animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
 $mv-animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
 $mv-animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);

 $mv-animation-curve-default: $mv-animation-curve-fast-out-slow-in;
