/**
 * Cores
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Color
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "variables";

/**
 * @section Visible
 */

@media screen and (min-width: $mv-device__xs) {
  [visible-xs],
  .visible-xs{
    display: none;
  }
}

@media screen and (min-width: $mv-device__sm) {
  [visible-sm],
  .visible-sm{
    display: none;
  }
}

@media screen and (min-width: $mv-device__md) {
  [visible-md],
  .visible-md{
    display: none;
  }
}

@media screen and (min-width: $mv-device__lg) {
  [visible-lg],
  .visible-lg{
    display: none;
  }
}

/**
 * @section Hidden
 */

[hidden-xs],
.hidden-xs{
  @media screen and (max-width: $mv-device__xs) {
    display: none;
  }
}

[hidden-sm],
.hidden-sm{
  @media screen and (max-width: $mv-device__sm) {
    display: none;
  }
}
[hidden-md],
.hidden-md{
  @media screen and (max-width: $mv-device__md) {
    display: none;
  }
}
[hidden-lg],
.hidden-lg{
  @media screen and (max-width: $mv-device__lg) {
    display: none;
  }
}
