<header>
  <h1 class="mega-ns">List</h1>
  <h2>Simple</h2>
</header>

<mv-list>
  <mv-list-item>Item 1</mv-list-item>
  <mv-list-item>Item 2</mv-list-item>
  <mv-list-item>Item 3</mv-list-item>
</mv-list>

<h2>Complex</h2>
<mv-toolbar>
  <button mv-button (click)="toggleSeparator()" [class.mv-theme--primary]="attrWithSeparator">
    [divisor]
  </button>
</mv-toolbar>

<mv-list
  [attr.with-separator]="attrWithSeparator">
  <mv-list-item>
    <mv-list-item-primary>
      <mv-avatar src="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar>
    </mv-list-item-primary>
    <h3>Marcus Vinicius Cardoso</h3>
    <p>marcusvy@gmail.com</p>
  </mv-list-item>

  <mv-list-item>
    <mv-list-item-action>
      <button mv-button class="mv-button--icon">
        <mv-icon name="person"></mv-icon>
      </button>
    </mv-list-item-action>

    <mv-list-item-primary>
      <mv-avatar src="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar>
    </mv-list-item-primary>
    <h3>Title for item</h3>
    <p>Lorem ipsum det amet a long text with text for aasfsadf asdk çfalskj dfçalsj dfçlaj sdlfaj sdçlfa b tj</p>
  </mv-list-item>

  <mv-list-item>
    <mv-list-item-primary>
      <label for="the_check">
          <mv-avatar src="https://avatars1.githubusercontent.com/u/1108114?v=3&s=460"></mv-avatar>
      </label>
    </mv-list-item-primary>
    <mv-list-item-action>
      <button mv-button class="mv-button--icon">
        <mv-icon name="person"></mv-icon>
      </button>
    </mv-list-item-action>
    <mv-list-item-secondary>
      <label><input type="checkbox" id="the_check"></label>
    </mv-list-item-secondary>
    <h3>Title for item</h3>
    <p>Lorem ipsum det amet a long text with</p>
  </mv-list-item>

</mv-list>
