<mv-container>
  <header>
    <h1 class="mega-ns">mv-header</h1>
  </header>
</mv-container>
<h2>Header simples</h2>
<!--Exemplo-->
<mv-header class="mv-header--top">
  <mv-header-menu>
    <button mv-button class="mv-button--icon">
    <mv-icon name="menu"></mv-icon>
  </button>
  </mv-header-menu>
  <mv-header-logo>
    <img src="/assets/img/mvinicius_logo.svg" class="mv-header__logo" alt="">
  </mv-header-logo>
  <mv-header-tool>
    <button mv-button class="mv-button--icon">
    <mv-icon name="menu"></mv-icon>
  </button>
  </mv-header-tool>
</mv-header>
<!--/Exemplo-->

<h2>Header com conteúdo</h2>
<!--Exemplo-->
<mv-header title="luminem" subtitle="det amet" button="Oi">
  <mv-header-menu>
    <button mv-button class="mv-button--icon">
    <mv-icon name="menu"></mv-icon>
  </button>
  </mv-header-menu>
  <mv-header-logo>
    Com título
  </mv-header-logo>
  <mv-header-tool>
    <button mv-button class="mv-button--icon">
    <mv-icon name="menu"></mv-icon>
  </button>
  </mv-header-tool>
</mv-header>
<!--/Exemplo-->

<h2>Header com imagem</h2>
<!--Exemplo-->
<mv-header title="luminem" subtitle="det amet" button="Oi" image="http://placekitten.com/g/960/320">
  <mv-header-menu>
    <button mv-button class="mv-button--icon">
    <mv-icon name="menu"></mv-icon>
  </button>
  </mv-header-menu>
  <mv-header-logo>
    Com Imagem
  </mv-header-logo>
  <mv-header-tool>
    <button mv-button class="mv-button--icon">
    <mv-icon name="menu"></mv-icon>
  </button>
  </mv-header-tool>
</mv-header>
<!--/Exemplo-->

<h2>Header com filtro alterado</h2>
<!--Exemplo-->
<mv-header title="Filtro mudado para cor #ae3311" subtitle="det amet" image="http://placekitten.com/g/960/320" filterColor="#ae3311">
  <mv-header-menu>
    <button mv-button class="mv-button--icon">
    <mv-icon name="menu"></mv-icon>
  </button>
  </mv-header-menu>
  <mv-header-logo>
    Cor do Filtro
  </mv-header-logo>
  <mv-header-tool>
    <button mv-button class="mv-button--icon">
    <mv-icon name="menu"></mv-icon>
  </button>
  </mv-header-tool>
</mv-header>
<!--/Exemplo-->
