<header>
  <h1 class="mega-ns">Janela (mv-modal)</h1>
</header>

<mv-container>
  <mv-modal #myModal title="Confirmar deleção?" class="mv-modal--relative mv-modal--small">
    <mv-modal-body>
      <p>O que a galinha perguntou pra vaca dizer para porco que estava ao lado do leão de jaqueta <strong>vermelha</strong>?</p>
    </mv-modal-body>
    <mv-modal-footer class="align-end">
      <button mv-button (click)="myModal.close($event)">Desistir</button>
      <button mv-button (click)="myModalTwo.open($event)">Conferir Resposta</button>
    </mv-modal-footer>
  </mv-modal>

  <mv-modal #myModalTwo title="Nada não">
    <mv-modal-body>
      <p>Era só zueira mesmo. Animais não falam muito menos usam jaqueta.</p>
    </mv-modal-body>
    <mv-modal-footer class="align-end">
      <button mv-button (click)="myModalTwo.close($event)">Obrigado!</button>
    </mv-modal-footer>
  </mv-modal>

  <mv-row style="height: 600px; background-color: #f5f5f5;" class="align-center align-middle">
    <mv-col>
      <button mv-button (click)="myModal.open($event)">
          <mv-icon name="command"></mv-icon> <span>Abrir Janela</span>
        </button>
    </mv-col>
  </mv-row>
</mv-container>
