/**
 *  Menu List
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Menu
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../../core/style/variables";

/**
 * @section Style
 */
mv-menu-list {
  margin: 0;
  padding: ($mv-layout__gutter/2) 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}
